.center-in-image {
    transform: translate(-50%, -50%);
}

.go-button:hover {
    background-color: #004279 !important;
}

.fave-stop-icons, .check-address-heading {
    cursor: pointer;
}

#add-to-fave-stop-icon {
    padding-left: 8px;
}